.git
.gitignore
.github

.env
.env.*
!.env.example

vendor
web/wp
web/app/uploads
web/app/themes/sage/vendor
web/app/themes/sage/node_modules
web/app/themes/sage/public

node_modules

docker
docker-compose*.yml
Dockerfile

.claude
README.md
*.md
!LICENSE.md

.DS_Store
